{{#if loggedout}}   
    <div class="ip-box">
        {{#if emailVal}}
        	{{input type="email" valueBinding="email" placeholder="Email (optional)"}}
        {{else}}
        	{{input type="email" class ="fColor" valueBinding="email"}}
        {{/if}}
        <br> 
        {{#if zipVal}}
        	{{input valueBinding="zip" placeholder="Zip Code"}}
        {{else}}
        	{{input valueBinding="zip" class ="fColor" placeholder="Zip Code"}}
        {{/if}}
		
		{{#unless birthdayClicked}}
			<input type="text" placeholder="Birthday" {{action "birthdayClickedAction"}}/>
		{{/unless}}
		{{#if birthdayClicked}}
			{{#if dayVal}}
				{{input type="date" valueBinding="day" }}
			{{else}}
				{{input type="date" valueBinding="day" class="fColor"}}
			{{/if}}
		{{/if}}
		

{{!-- 		{{#if monthVal}}
			{{input type="number" valueBinding="month" placeholder="Month" min="1" max="12" class="month"}}
		{{else}}
			{{input type="number" valueBinding="month" placeholder="Month" min="1" max="12" class="monthfColor"}}
		{{/if}}
		{{#if yearVal}}
			{{input type="number" valueBinding="year" placeholder="Year" min="1974" max="2014" class="year"}}
		{{else}}
			{{input type="number" valueBinding="year" placeholder="Year" min="1974" max="2014" class="yearfColor"}}
		{{/if}}
 --}}		<br>
		{{#if genderVal}}
		{{view Ember.Select content=gender value=selectedGender classNames="gender" prompt="Gender"}}
		{{else}}
		{{view Ember.Select content=gender value=selectedGender classNames="genderfColor" prompt="Gender"}}
		{{/if}}
		<p class="mailing-list">
			
			{{view Ember.Checkbox checkedBinding="newsletter"}}
			<label class="checkbox" for="mailing-list">Receive Newsletters</label>
		</p>
		<button class="submit" type="button"  {{action 'save'}}>Submit</button>
	</div>
{{else}}
	<div class="ip-box">
		<p class="login_message"><font face="Gill Sans">Welcome to Computer History Museum !</font></p>
		<p class="para">Thank you for registering with us! Navigate with the menu on the right. Check your inbox for newsletters and more.</p>

		<button class="submit" type="button"  {{action 'logout'}}><i class="fa fa-power-off"></i>Logout</button>
	</div>
{{/if}}